extends layouts/main
include mixins/videoPlayer

block content
  .video-detail__container
    .video__player
      +videoPlayer({
        src: video.fileUrl

      })
    .video__info
      if loggedUser && video.creator.id === loggedUser.id
        a(href=`/video/${video.id}/edit`)
          button Edit Video
      h5.video__title= video.title
      p.video__description= video.description
      if video.views === 1
        span.video__views 1 view
      else
        span.video__views #{video.views} views
    .video__author
      |Upload by 
      a(href=`/user/${video.creator.id}`)= video.creator.name
    .video__comments
      if comments.length === 1
        span.video__comment-number
          span#jsCommentNumber 1 
          |  comment
      else 
        span.video__comment-number
          span#jsCommentNumber=comments.length 
          |  comments
      form.add__comment#jsAddComment
        input(type="text", placeholder="Add a comment")

      ul.video__comments-list#jsCommentList
        each comment in comments.reverse()
          li
            if loggedUser && loggedUser.id == comment.creator._id
              form
                //- a#comment-delete(href=`/api/${comment._id}/comment/delete`)
                button.deleteSubmit(type='button')
                  i.fas.fa-times#comment-delete(click="handleDelete")
                    input(type="text" name="commentId" value=comment._id)
            div(style=`background-image: url('${comment.creator.avatarUrl}'); width:40px; height: 40px;`, class="avatar")
              //- img(src=comment.creator.avatarUrl)
            .user-info
              span(class="user-name")= comment.creator.name
                span(class="comment-time")= comment.createdAt
                //- span= new Date(comments.createdAt)
              span(class="text")= comment.text
              .like-box
                i.fas.fa-thumbs-up
                span
                i.fas.fa-thumbs-down